:root{
    --lightred: rgb(250, 43, 43);
    --darkred: rgb(151, 0, 0);
}
#message{
    display: top;
    height: calc(fit-content + 1rem);
    max-height: 700px;
    width: 90vw;
    max-width: 400px;
    margin-left: 5%;
    background-color: var(--darkred);
    border-radius: 20px;
    border: 1px solid var(--lightred);
    color: var(--lightred);
    padding: 3rem;
    position: fixed;
}
#message h2{
    text-align: center;
}
#message span{
    line-height: 1.5;
    font-size: 125%;
}
#message button{
    margin-top: 1rem;
    background-color: var(--darkred);
    color: var(--lightred);
    border: 1px solid var(--lightred);
    font-size: 200%;
    margin-left: 90%;
    border-radius: 15px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}